// 页脚

#footer{
    margin: 20px 0px 20px 0px;
    padding-top: 30px;
    background-color: #f8f8f8;
    #footDetail{
        padding-left: 10px;
        a{
            margin-right: 20px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    #weibo,#weixin{
        a{
            cursor: pointer;
            img{
                max-width:100%;
            }
        }
    }
}
 