@media screen and (max-width: 767px){
//父级
    .row-offcanvas {
        position: relative;
        transition: all 0.5s ease-in-out;
    }
    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-left.active {
        left:50%;
        display: block!important;
    }

//子左侧导航
    .sidebar-offcanvas {
        position: absolute;
         top: 0; 
        width: 50%;
        left: -50%;
    }
   
//右侧内容
    .visible-xs {
        display: block!important;
    }
}
.glyphicon-pencil{
    color: #040404;
    font-size: 26px;
    text-shadow: 0 0 10px #d40000; 
}
button[data-toggle="offcanvas"]{
border:none;
background: transparent!important;
margin: 5px 1px;
outline: transparent!important;

}