@import url("./header.less");
@import url("./offcanvas.less");
//personal
#personal{
    margin-top:15px;
}
form{
    width:50%;
    margin :0 auto;
}
.TL{
    text-align: left !important;
}
@import url("./footer.less");