@import url("./header.less");

//recharge
.navbar-header{
    margin-bottom: 20px;
        #account{
            font-size: 20px;
            font-weight: bold;
            color:rgb(51, 122, 183);
        }
    }
    .panel-info{
        border:none;
        margin-top:15px;
    }
    .panel-info>.panel-heading {
        background-color: #edf5f9;
        border-left: 2px solid rgb(105, 167, 221);
        .panel-title{

            h2{
                color:#09d;
            }
            p{
                color:#000;
            }
        }
    }
    // 选项卡
    .online{
        text-align: center;
    }
    .tab-pane h2{
        color:#a94442;
        font-size: 20px;
        font-weight: bold;
    }
    table tr{
        line-height: 40px;
    }
    table tr .ICBC ,.AB,.CMB{
        background: url(../../images/bank_list.png) no-repeat;
        display: block;
        width:100px;
        height:30px;  
    }
    .AB{
        background-position-y: -38px;
    }
    .CMB{
        background-position-y: -110px;
    }
    .Tips{
        color:#337ab7;
        text-indent: 3em;
    }
    form{
        width:60%;
    }
@import url("./footer.less");